{{- /* context: a Pages collection */ -}}
<ol class="log">
  {{- range .GroupByDate "2006" }}
  <li class="log-year">
    <h3 class="log-key">{{ .Key }}</h3>
    <ol class="log-entries">
      {{- range .Pages }}
      <li class="log-entry">
        <a href="{{ .RelPermalink }}">
          <span class="log-title">{{ .Title }}</span>
          <time class="log-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2" }}</time>
        </a>
      </li>
      {{- end }}
    </ol>
  </li>
  {{- end }}
</ol>
