{{- $src := .Destination -}}
{{- $res := .Page.Resources.GetMatch $src -}}
{{- $alt := .PlainText -}}
<figure class="figure">
  {{- with $res }}
    {{- $img := . -}}
    {{- if and (eq .ResourceType "image") (gt .Width 1400) }}{{ $img = .Resize "1400x webp q82" }}{{ end }}
    <img src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}" alt="{{ $alt }}" loading="lazy" decoding="async" />
  {{- else }}
    <img src="{{ $src }}" alt="{{ $alt }}" loading="lazy" decoding="async" />
  {{- end }}
  {{- with .Title }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>
